#Title {
    border-bottom: 1px solid LightGrey;
    border-top: 1px solid LightGrey;
    color: DarkGrey;
    text-align:center;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
  }

  .top {
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    width: 400px;
  }