body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.name-section {
  width: 100%;
}

.name-section h1 {
  color: #333;
  font-size: 24px;
}

.section {
  width: 48%;
  margin-bottom: 20px;
}

.section.skills,
.section.education,
.section.contacts,
.section.references {
  color: #8b4513; /* Light brown color */
}

.section.about,
.section.certificates,
.section.work,
.section.achievements {
  color: #654321; /* Darker brown color */
}

.references {
  align-self: flex-start;
}

.achievements {
  width: 100%;
}